.topbarContainer{
    height:80px;
    width: 100%;
    background-color:#262A53;
    display:flex;
    align-items:center;
    position:sticky;
    top:0;
}
.topbarLeft{
    flex:2;
}

.topbarCenter{
    flex:6;

}
.topbarRight{
    flex:4;
    display:flex;
    margin:10px;
    justify-content:space-between;
}
.topbarImg{ 
    height:35px;
    width:35px;
    border-radius: 50%;
}
.logo{
    font-size:24px;
    margin-left:20px;
    font-weight:bold;
    color:white;    
    cursor:pointer;    
}
.topbarLink a{
    margin:20px;
    font-size:20px;
    cursor: pointer;
    text-decoration: none;
    color: #f2f2f2;
    font-weight:bold;
    text-decoration: none;
    transition: all .3s ease-in-out .2s;
    padding-bottom: 5px;

}

.topbarLink a:hover{
    border-bottom: 4px solid #FFE3E3;
    border-top: none;
    margin-bottom: 2px;
    font-size: 21.5px;
    transition: all .3s ease-in-out .1s;

}
.logoImg{
    height:100px;
    width:100px;
}

.logoText{
    position: absolute;
    top: 20px;
    font-family: cursive,sans-serif;
}
