.loadmore{
    cursor:pointer;
    width:15%;
    background-color:white;
    border:none;
    box-shadow:0 2px 5px rgba(0,0,0,16),0 2px 10px 0 black;
    padding: 1vw;
    margin-top:10px;
    margin-bottom: 20px;
    margin-left: 42.5%;
    border-radius: 25px;
    font-weight:600;
    font-size: 1vw;
    color:#262A53;
}
.loadmore:hover{ 
    color:white;
    background-color:#262A53;
}
.container{
    transition: background-color 0.2s ease-in;
    /* border-bottom: none; */
}

